body {
  /*width: 960px;*/
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  /*color: #ffffff;
    background: #000000 url("../img/tint.png") no-repeat center top;*/
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.lodo {
  width: 368px;
  margin: 204px;
  float: left;
}
.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}
.main-navigation {
  float: left;
  width: 600px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}
.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation a:hover {
  background: #242424;
}
.user-block {
  float: right;
  max-width: 140;
}
.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}
.login:hover {
  background-color: #242424;
}
.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: ;
  opacity: 0.3;
}
.login:hover::before {
  opacity: 1;
}
/*...............................*/
.index-logo {
  width: 500px;
  height: 165px;
  margin: 0 auto;
  margin-bottom: 5px;
  color: #323d4c;
}
.index-logo img {
  float: left;
  width: 500px;
  height: 165px;
}
h1 {
  font-size: 35px;
  text-align: center;
}
.features {
  margin-bottom: 80px;
  width: auto;
}
.features-item {
  float: left;
  width: 215px;
  margin-right: 10px;
  border-style: solid;
  text-align: center;
}
.features-name {
  font-size: 30px;
  line-height: 42px;
}
.features-item p {
  margin: 10px 0px;
  font-size: 30px;
  color: #96BC00;
}
.plan_el.cfix {
  margin: 0;
  list-style: none;
  padding: 0px;
  height: 90px;
  background: #384555;
}
.cfixx {
  float: left;
  height: 50px;
  margin-right: 0px;
  background: #ffffff;
  border: 3px dashed #666666;
}
.plann {
  display: block;
  border-style: solid;
  padding: 10px;
  background: #384555;
}
.plan_amount {
  border-style: solid;
  width: 450px;
  height: 70px;
  font-size: 25px;
  line-height: 0px;
  clear: left;
  background: #384555;
}
.plan_title {
  border-style: solid;
  width: 300px;
  height: 70px;
  text-align: center;
  font-size: 30px;
  line-height: 65px;
  background: #96bc00;
  clear: right;
}
.plan_percent {
  border-style: solid;
  width: 130px;
  height: 70px;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  font-family: 'Gubia bold';
  line-height: normal;
  background: #1792a0;
  text-transform: uppercase;
  margin: 0px 10px 0 0;
  clear: right;
}
.index-content-left {
  width: 730px;
  border-style: dashed;
  margin: 10px;
  padding: 50px 80px;
}
.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.nevs-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}
.nevs-preview li {
  margin-bottom: 25px;
}
.nevs-preview p {
  margin-bottom: 0;
}
.nevs-preview time {
  text-transform: none;
  font-weight: 400;
}
